<%= form_for @user, url: {action: "create"}, html: {class:''} do |f| %>
            <!-- Show error messages on invalid submissions -->
            <%= render 'shared/error_messages' %>
            
            <fieldset class="form-group firstName">
                <%= f.label :first_name, 'Fornavn' %>
                <%= f.text_field :first_name, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group lastName">
                <%= f.label :last_name, 'Efternavn' %>
                <%= f.text_field :last_name, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group position">
                <%= f.label :position, 'Stilling' %>
                <%= f.text_field :position, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group company">
                <%= f.label :company, 'Firma' %>
                <%= f.text_field :company, class: 'form-control' %>
            </fieldset>
            <fieldset class="form-group phone">
                <%= f.label :telephone, 'Telefon' %>
                <div class="input-group">
                    <span class="input-group-addon">+45</span>
                    <%= f.telephone_field :telephone, class: 'form-control' %>
                </div>
            </fieldset>
            <fieldset class="form-group email">
                <%= f.label :email, 'Email' %>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Indtast din email' %>
                <small class="text-muted">Vi kontakter dig på denne email, hvis du vinder.</small>
            </fieldset>
            <fieldset class="form-group clearfix">
                <h4>Hvilken platform foretrækker du?</h4>
                <label class="radio-inline">
                    <%= f.radio_button :os, "OSX", class: '' %>Mac
                </label>
                <label class="radio-inline">
                    <%= f.radio_button :os, "Linux", class: '' %>Linux
                </label>
                <label class="radio-inline">
                    <%= f.radio_button :os, "Windows", class: '' %>Windows
                </label>
            </fieldset>
            
            <fieldset class="form-group clearfix">
             <h4>Bruger du i dag primært Skype eller Lync</h4>
                <label class="radio-inline">
                    <%= f.radio_button :communication, "Skype", class: '' %> Skype
                </label>
                <label class="radio-inline">
                    <%= f.radio_button :communication, "Linc", class: '' %> Linc
                </label>
            </fieldset>

            <%= f.submit "Deltag", class: 'btn btn-primary disabled', id: 'submit' %>
            <label class="checkbox-inline">
                <input id="acceptConditions" type="checkbox"> Accepter betingelserne
            </label>
        <% end %>