<p>
  Download:
  <%= link_to "CSV", admin_path(format: "csv") %> |
  <%= link_to "Excel", admin_path(format: "xls") %>
</p>

<p>
    Import:
    <%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</p>