<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr>
        <td>Id</td><td><%= @user.id %></td>
      </tr>
      <tr>
        <td>First Name</td> 
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <td>email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>country</td>
        <td><%= @user.country %></td>
      </tr>
      <tr>
        <td>profile_text</td>
        <td><%= @user.profile_text %></td>
      </tr>
      <tr>
        <td>gender</td>
        <td><%= @user.gender %></td>
      </tr>
      <tr>
        <td>sales_manager</td>
        <td><%= @user.sales_manager %></td>
      </tr>
      <tr>
        <td>sales_manager_email</td>
        <td><%= @user.sales_manager_email %></td>
      </tr>
      <tr>
        <td>company</td>
        <td><%= @user.company %></td>
      </tr>
      <tr>
        <td>position</td>
        <td><%= @user.position %></td>
      </tr>
      <tr>
        <td>telephone</td>
        <td><%= @user.telephone %></td>
      </tr>
      <tr>
        <td>Preffered platform</td> 
        <td><%= @user.os %></td>
      </tr>
      <tr>
        <td>Preffered program</td>
        <td><%= @user.communication %></td>
      </tr>
      <tr>
        <td>Created</td>
        <td><%= @user.created_at %></td>
      </tr>
      <tr>
        <td>Updated</td>
        <td><%= @user.updated_at %></td>
      </tr>
    </tr>
  </tbody>
</table>